/*이 파일 필요 없음*/
* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
} 


.showcase {
  background: rgba(0,0,0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between; /*항목간 간격 균등하게 분배*/
}

.showcase h1 {
  background-color: #1E1C28;
  padding: 10px;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background: #6feaf6;
}

.seat.occupied {
  background: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.5, 1.5);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0,0,0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between; /*항목간 간격 균등하게 분배*/
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex; /* 가로로 좌석이 나열되도록 설정 */
  align-items: center; /* 좌석들이 세로로 가운데 정렬되도록 */
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.book {
  background: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}

.book:hover {
  cursor: pointer;
  background: #cccaca;
  border: 2px solid #cccaca;
}

.clear {
  background: #777;
  border: 2px solid #777;
  border-radius: 5px;
  width: 50px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}

.clear:hover {
  cursor: pointer;
  background: #545454;
  border: 2px solid #545454;
}